/* GLOBAL CSS */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

*:focus {
  outline: 2px dashed #7296ec;
  outline-offset: 3px;
}

html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.container {
  width: 100%;
  max-width: 1260px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 auto;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  display: block;
  color: #ffffff;
}

img {
  display: block;
}

/* SITE_HEADER */

.site-header {
  padding: 30px 0;
  background-color: #f6f6f6;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-logo-link {
  display: inline-block;
  background-color: #fff;
  padding: 8px 6px;
  border-radius: 7px;
  margin-right: 35px;
}

.header-currency {
  display: flex;
  line-height: 19px;
}

.currency-symbol {
  margin-right: 5px;
  font-weight: 700;
  font-size: 16px;
  color: #2959ce;
}

.currency-usd {
  margin-right: 25px;
}

.header-search {
  margin-left: auto;
  width: 275px;
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 60px;
  margin-right: 25px;
}

.header-search-icon {
  display: inline-block;
  margin-left: 15px;
}

.header-search-input {
  width: 100%;
  display: inline-block;
  border: 0;
  padding: 14px 0;
  padding-left: 45px;
  border-radius: 60px;
  background-color: unset;
  margin-left: -35px;
}

.header-lang {
  background-color: #dce6ff;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  color: #a6a6a6;
  width: 70px;
  padding: 2px 0;
  display: flex;
  align-items: center;
  border-radius: 39px;
  padding-left: 3px;
  margin-right: 25px;
}

.header-lang-active {
  color: #000000;
  display: inline-block;
  background-color: #fff;
  padding: 8px 7px;
  border-radius: 50%;
  margin-right: 8px;
}

.header-btn {
  display: inline-block;
  color: #fff;
  background-color: #7296ec;
  border: 0;
  padding: 13px 20px;
  font-weight: 500;
  line-height: 19px;
  border-radius: 10px;
}

/* MAIN_CONTENT */

.main-content {
  flex-grow: 1;
}

/* main nav */

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 20px;
  border-bottom: 1px solid #d1d1d1;
  margin-bottom: 40px;
}

.main-nav-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #7f7f7f;
}

/* main shop img */

.shop-img {
  margin-bottom: 50px;
}

/* main card section */

.card-section {
  margin-bottom: 60px;
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
}

.card {
  background-color: #f6f6f6;
  width: 393px;
  padding: 18px;
  border-radius: 15px;
  margin-left: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.card-about {
  flex-grow: 1;
}

.card-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  color: #000000;
  margin-bottom: 10px;
}

.card-text {
  line-height: 22px;
  color: #4a4b4c;
  margin-bottom: 15px;
}

.card-img {
  margin-bottom: 15px;
  border-radius: 10px;
}

.card-info {
  display: flex;
  align-items: center;
}

.card-icon {
  margin-right: 10px;
}

/* NOTIF */

.notif {
  width: 1050px;
  margin: 0 auto;
  padding: 24px 30px;
  background-image: url("../img/notif-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.notif-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  color: #000000;
}

.notif-btn {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  border: none;
  background-color: #f78b3b;
  padding: 13px 30px;
  border-radius: 10px;
}

/* INFO SECTION */

.info-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  margin-bottom: 20px;
}

.info-block {
  display: flex;
  margin-bottom: 100px;
}

.info-left {
  width: 70%;
  flex-basis: 70%;
  max-width: 70%;
  padding-right: 10px;
}
.info-right {
  width: 30%;
  flex-basis: 30%;
  max-width: 30%;
}

.info-card {
  border-radius: 15px;
  background-color: #f6f6f6;
  padding: 20px;
  display: flex;
  padding-left: 17px;
  margin-bottom: 10px;
}

.info-card-img {
  border-radius: 10px;
  margin-right: 10px;
}

.info-card-content {
  width: 535px;
}

.info-card-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  color: #000000;
  margin-bottom: 10px;
}

.info-card-text {
  line-height: 22px;
  color: #4a4b4c;
  margin-bottom: 17px;
}

.info-card-about {
  display: flex;
  font-size: 12px;
  line-height: 14px;
  color: #5e5f61;
}

.info-card-about-img {
  margin-right: 10px;
}

.info-btn {
  width: 100%;
  background-color: #eaeaea;
  border: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  padding: 17px 0;
  background: #eaeaea;
  border-radius: 10px;
}

.right-info-block {
  background-color: #f6f6f6;
  padding: 20px 20px 25px 17px;
  margin-bottom: 10px;
  border-radius: 15px;
}

.info-right-heading {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 25px;
}

.right-info-box:not(:last-child) {
  border-bottom: 1px solid #d2d2d2;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.right-info-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 8px;
}

.right-info-time {
  font-size: 13px;
  line-height: 15px;
  color: #5e5f61;
}

.right-info-img {
  width: 100%;
}

/* SITE-FOOTER */

.site-footer {
  padding: 40px 0;
  background-color: #7297ef;
}

.footer-logo {
  margin-bottom: 15px;
}

.footer-logo-link {
  display: inline-block;
  border-radius: 7px;
}

.footer-logo-link:focus {
  outline: 2px dashed #fff;
  outline-offset: 3px;
}

.footer-info {
  display: flex;
}

.footer-text {
  flex-basis: 229px;
  font-weight: 400;
  font-size: 12px;
  line-height: 19px;
  color: #ffffff;
  margin-right: 203px;
}

.footer-nav-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 167px;
  flex-grow: 1;
}

.footer-nav-list li {
  margin-bottom: 20px;
  margin-right: 100px;
}

.footer-nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
}

.footer-bottom {
  border-top: 1px solid #cecece;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
}

.footer-socials {
  display: flex;
}

.footer-social:not(:last-child) {
  margin-right: 25px;
}

.footer-social-names {
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
}
